.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color:white;
    border-radius: 5px;
    max-width: 600px;
    margin: 50px auto;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    justify-content: center;
}

.form-field {
    margin-bottom: 20px;
}

.form-field label {
    margin-right: 10px;
}

.form-field input,
.form-field textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.form-field textarea {
    resize: vertical;
}

button {
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: lightgray;
    color: black;
}