.artwork-image-wrapper {
    position: relative;
    width: 100%;
    padding-top: 100%;
    /* Maintain a 1:1 aspect ratio (square images) */
}

.artwork-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
    cursor: pointer;
}